<div class="container">
  <h1 class="text-center">Here is your profile <%=@current_user.name%></h1>
  <p class="text-center">
      Here you can apply for API-keys
  </p>
  
    <% if @current_user.name == "admin" %>
      <div class="col-md-7">
        <h3>All applications</h3>
        <% if @applications.any? %>
          <ul>
            <% @applications.each do | application | %>
              <li><%= application.name %>, <%= application.description %>, <%= application.apikey %> <%= link_to "Delete", :controller => :apps, :action => :delete_application, :id => application.id %></li>
            <% end %>
          </ul>
        <% else %>
          <p>You have no registered applications yet</p>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-7">
        <h3>Your applications</h3>
        <% if @current_user.app.any? %>
          <ul>
            <% @current_user.app.each do | application | %>
              <li><%= application.name %>, <%= application.description %>, <%= application.apikey %> <%= link_to "Delete", :controller => :apps, :action => :delete_application, :id => application.id %></li>
            <% end %>
          </ul>
        <% else %>
          <p>You have no registered applications yet</p>
        <% end %>
      </div>
      <div class="col-md-4 margin-top">
        <%= link_to :Register , :apps, class: "btn btn-primary"%>
    <% end %>
  </div>
</div>